/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Warna latar belakang putih */
  padding: 20px 20px;
}

.navbar-left {
  flex: 1;
}

.navbar-right {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-right li {
  margin-left: 15px;
}

.navbar-brand {
  color: #f00; /* Warna merah */
  text-decoration: none;
  font-size: 24px;
  font-weight: 800; /* Meningkatkan ketebalan font menjadi lebih tebal */
}

.navbar a {
  color: red; /* Warna merah untuk link */
  text-decoration: none;
  font-weight: 700; /* Membuat tulisan lebih tebal */
}

.navbar a:hover {
  text-decoration: underline; /* Garis bawah saat hover */
}
